* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}

:root {
  --font-color: #323238;
  --bg-conteiner: #fff;
  --bg-selected-soundButton: #02799d;
}

.flex {
  display: flex
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;
}

.content{
  gap: 192px;
  align-items: center;
}
#timer, #controls button{
  color: var(--font-color);
}

#timer {  
  flex-direction: column;
}
#clock{
  font-size: 126px;
  font-weight: 500;
  line-height: 100px;
  justify-content: center;
}
#controls{
  margin-top: 17px;
  justify-content: space-between;
}
#controls button{
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 48px;
}
#sounds{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

#sounds button{
  width: 138px;
  height: 152px;
  border-radius: 24px;
  border: none;
  background: #E1E1E6;
  font-size: 62px;
  transition: background 0.25s;
}


/* controls */

.running .ph-play-circle,
html:not(.running) .ph-pause-circle{
  display: none;
}

#sounds .selected{
  background: var(--bg-selected-soundButton);
  color: #fff;
}